@model DeleteConfirmationVM

<md-dialog layout-padding ng-controller="dialogController">
    <h3>Are you sure you want to delete this item?</h3>
    <form asp-action="@Model.Action" asp-controller="@Model.Controller" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <div layout="row" class="detail-card_actions">
            <md-button ng-click="hide()">
                @StyleContext.Translations.Get(Dom.Translation.Common.Cancel)
            </md-button>
            <md-button class="md-accent" type="submit">
                @StyleContext.Translations.Get(Dom.Translation.Common.Ok)
            </md-button>
        </div>
    </form>
</md-dialog>
