@model ClassCreateVM

<md-dialog ng-controller="dialogController" class="add-object_dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add class</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon md-font-library="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form asp-action="@MVC.Controller.Class.Create" asp-controller="@MVC.Controller.Class.Name" method="post" ng-controller="classController" name="createClassForm">
        <md-dialog-content class="dialog_content" ng-init="initCreate(@Model.DayOfWeekId.ToString(), @Model.GroupId.ToString(), @Model.Number.ToString())" >
            <div layout="row">
                <md-input-container class="input-control">
                    <label>@StyleContext.Translations.Get(Dom.Translation.Common.Day)</label>
                    <md-select ng-model="model.dayId"
                               ng-init="model.dayId=@Model.DayOfWeekId.ToString()"
                               @if (Model.DayOfWeekId.HasValue) { <text>
                               ng-disabled="true"
                               </text>  }
                               md-on-close="clearSearchTerm()"
                               data-md-container-class="selectHeader"
                               name="DayOfWeekId"
                               required>
                        <md-optgroup>
                            <md-option ng-value="day.id" ng-repeat="day in days | orderBy : id">{{day.value}}</md-option>
                        </md-optgroup>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="input-control">
                    <label>@StyleContext.Translations.Get(Dom.Translation.Common.Number)</label>
                    <md-select ng-model="model.number"
                               ng-init="model.number=@Model.Number.ToString()"
                               @if (Model.Number.HasValue) { <text>
                               ng-disabled="true"
                               </text>   }
                               md-on-close="clearSearchTerm()"
                               data-md-container-class="selectHeader"
                               name="Number"
                               required>
                        <md-optgroup>
                            <md-option ng-value="number" ng-repeat="number in numbers">{{number}}</md-option>
                        </md-optgroup>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="input-control" >
                    <label>@StyleContext.Translations.Get(Dom.Translation.Group.Singular)</label>
                    <md-select ng-model="model.groupId"
                               ng-init="model.groupId=@Model.GroupId.ToString()"
                               @if (Model.GroupId.HasValue) {
                               <text>
                                    ng-disabled="true"
                               </text>
                               }
                               md-on-close="clearSearchTerm()"
                               data-md-container-class="selectHeader"
                               name="GroupId"
                               required>
                        <md-select-header class="select-header">
                            <input ng-model="searchTerm"
                                   type="search"
                                   ng-keydown="$event.stopPropagation();"
                                   class="header-searchbox md-text"
                                   placeholder="Search">
                        </md-select-header>
                        <md-optgroup> 
                            <md-option ng-value="group.id" ng-repeat="group in groupSelectItems | orderBy : value | filter : {value : searchTerm}">{{group.value}}</md-option>
                        </md-optgroup>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>
            </div>
			<div layout="row">
				<md-input-container class="input-control">
					<label>@StyleContext.Translations.Get(Dom.Translation.Load.Singular)</label>
					<md-select ng-model="model.loadId"
							   md-on-close="clearSearchTerm()"
							   data-md-container-class="selectHeader"
							   name="LoadId"
							   required>
						<md-select-header class="select-header">
							<input ng-model="searchTerm"
								   type="search"
								   ng-keydown="$event.stopPropagation();"
								   class="header-searchbox md-text"
								   placeholder="Search">
						</md-select-header>
						<md-optgroup>
							<md-option ng-value="load.id" ng-disabled="load.disabled" ng-repeat="load in loads | orderBy : value | filter : {value : searchTerm}">{{load.value}}</md-option>
						</md-optgroup>
					</md-select>
					<div class="md-errors-spacer"></div>
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container class="input-control">
					<label>@StyleContext.Translations.Get(Dom.Translation.Common.Week)</label>
					<md-select ng-model="model.weekAlternationId"
							   md-on-close="clearSearchTerm()"
							   data-md-container-class="selectHeader"
							   name="WeekAlternationId"
							   required>
						<md-optgroup>
							<md-option ng-value="weekAlternation.id" ng-disabled="weekAlternation.disabled" ng-repeat="weekAlternation in weekAlternations | orderBy : value | filter : {value : searchTerm}">{{weekAlternation.value}}</md-option>
						</md-optgroup>
					</md-select>
					<div class="md-errors-spacer"></div>
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container class="input-control">
					<label>@StyleContext.Translations.Get(Dom.Translation.Room.Singular)</label>
					<md-select ng-model="model.roomId"
							   md-on-close="clearSearchTerm()"
							   data-md-container-class="selectHeader"
							   name="RoomId"
							   required>
						<md-optgroup>
							<md-option ng-value="room.id" ng-disabled="room.disabled" ng-repeat="room in rooms | orderBy : value | filter : {value : searchTerm}">{{room.value}}</md-option>
						</md-optgroup>
					</md-select>
					<div class="md-errors-spacer"></div>
				</md-input-container>
			</div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="detail-card_actions">
            <md-button class="md-raised md-primary flat" type="submit" ng-disabled="!createClassForm.$valid">
                <md-icon md-font-library="material-icons">save</md-icon> @StyleContext.Translations.Get(Dom.Translation.Common.Save)
            </md-button>
            <md-button class="md-raised flat" ng-click="hide()">
                <md-icon md-font-library="material-icons">cancel</md-icon> @StyleContext.Translations.Get(Dom.Translation.Common.Cancel)
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
